

.jumbotron {
  background: url('/images/balance-110850_1280.jpg') no-repeat;
  background-size: 100%;
  height: 600px;
}

.banner {
  margin-top: 100px;
}

.banner p{
  color: lightgrey;
}

.icons img {
  max-width: 100px;
}

.signup-page {
  margin-top: 150px;
  min-height: 600px;
}

.form-signin {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.form-signin-heading {
  margin-bottom: 30px;
}

.hidden{
  display: none;
}

.newpost .row {
  margin-left: auto;
	margin-right: auto;
}

.quiz {
  margin-top: 150px;
}

.quiz-container {
	background-color: white;
	padding: 30px;
}

.quiz .questions {
  margin: 0 auto;
  display: inline-block;
}

.quiz-container ul{
	padding: 0;
	list-style: none;
  text-align: left;
}

.quiz-container label{
	display: inline-block;
  padding: 10px 0;
}

.quiz .start, .quiz .finish {
	/*width: 500px;*/
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  background-color: white;
}


.quiz button {
  margin-top: 20px;
}

.quiz .questionNumber {
	text-align: right;
}

.quiz .habits {
  display: inline-block;
  margin: 0 auto;
}

.quiz .habit {
  text-align: left;
}

.score-tracker {
  margin-top: 100px;
}

.dashboard .box-container {
  min-height: 300px;
  padding:10px;
}

.dashboard .box-inner-container {
  width: 100%;
  min-height: 300px;
  /*border: solid #CCC 1px;*/
}
.score-box p {
  font-size: 150%;
}

.dashboard .score-container {
  display: flex;
  align-items: center;
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  border: 5px solid lightgrey;
  background-color: #007fff;
  margin-top 20px;
  margin-bottom: 20px;
}

.dashboard .row {
  margin-bottom: 50px;
}

.dashboard .score {
  margin: auto;
  font-size: 450%;
  color: white;


}

.dashboard .new-reflection {
  margin-bottom: 20px;
}

.dashboard .reflectionDetail {
  text-align: left;
}

.dashboard .reflection-text {
  margin-bottom: 50px;
}

.dashboard .reflection-habits, .reflection-score{
  background-color: dodgerblue;
  color: white;
  border-radius: 2px;
  margin: 2px;
  display: inline-block;
}

.dashboard .reflection-score{
  background-color: lightcoral;
}


.dashboard .delete-reflection {
  margin: 2px;
}



footer {
  margin-top: 150px;
  text-align: center;
}

footer a {
  font-size: 140%;
  color: black;
}
