.jumbotron {
  background: url('/images/balance-110850_1280.jpg') no-repeat;
  background-size: 100%;
  height: 600px;
}

.banner {
  margin-top: 100px;
}

.banner p {
  color: lightgrey;
}

.icons img {
  max-width: 100px;
}

.signup-page {
  margin-top: 150px;
  min-height: 600px;
}

.form-signin {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.form-signin-heading {
  margin-bottom: 30px;
}

.hidden {
  display: none;
}

.landing-page .ff {
  text-align: center;
}


.landing-page .five-facets {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  color: black;
  background-image: url('/images/noun_17148_ffb980.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 10px;
}

.landing-page .facet {
  text-align: left;
  margin: 5px;
  border-radius: 5px;
}



.landing-page .facet h4 {
  text-align: center;
}

.newpost .row {
  margin-left: auto;
  margin-right: auto;
}

.quiz {
  margin-top: 150px;
}

.quiz .start, .question {
  font-size: 150%;
  color: dimgray;
}

.quiz .quiz-buttons {
  display: flex;
  justify-content: space-around;
}

.quiz-container li{
  font-size: 125%;
  font-family: 'Oxygen', sans-serif;
  font-weight: 100;
}

.quiz-container {
  background-color: white;
  padding: 30px;
}

.quiz .questions {
  margin: 0 auto;
  display: inline-block;
}

.quiz-container ul {
  padding: 0;
  list-style: none;
  text-align: left;
}

.quiz-container label {
  display: inline-block;
  padding: 10px 0;
}

.quiz .start, .quiz .finish {
  /*width: 500px;*/
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  background-color: white;
}

.quiz button {
  margin-top: 20px;
}

.quiz .questionNumber {
  text-align: right;
}

.quiz #reflectionForm label {
  font-size: 150%;
}

.quiz .reflection-area {
  margin-bottom: 25px;
}

.quiz .habits {
  display: inline-block;
}

.quiz .habit {
  text-align: left;
  margin: 0 auto;
}

.score-tracker {
  margin-top: 100px;
}

.dashboard .box-container {
  min-height: 300px;
  padding: 10px;
}

.dashboard .box-inner-container {
  width: 100%;
  min-height: 300px;
  /*border: solid #CCC 1px;*/
}

.dashboard .score-box h2 {
  font-size: 200%;
}

.dashboard .score-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  border: 5px solid lightgrey;
  background-color: #007fff;
  margin-top 20px;
  margin-bottom: 20px;
}

.dashboard .row {
  margin-bottom: 25px;
}

.dashboard .score {
  margin: auto;
  font-size: 450%;
  color: white;
}

.dashboard canvas {
  padding: 25px;
}

.dashboard .habit-five-facet {
  display: flex;
  justify-content: space-between;
}

.dashboard .new-reflection {
  margin-bottom: 20px;
}

.dashboard .reflectionDetail {
  text-align: left;
}

.dashboard .reflection-text {
  margin-bottom: 25px;
}

.dashboard textarea {
  width: 100%;
  min-height: 150px;
}

.dashboard .details-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

@media only screen and (max-width: 640px) {
  .dashboard .details-options {
    display: block;
  }

  .dashboard .habit-five-facet {
    display: block;
  }

  .landing-page .five-facets {
    display: block;
  }
}

.dashboard .reflection-habits, .reflection-score {
  background-color: dodgerblue;
  color: white;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 2px;
  margin: 2px;
  display: inline-block;
}

.dashboard .reflection-score {
  background-color: lightcoral;
}

.dashboard .delete-reflection {
  margin: 2px;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}



footer {
  margin-top: 150px;
  text-align: center;
}

footer a {
  font-size: 140%;
  color: black;
}
